<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="logMaxSizeInBytes" value="5120"/>
		<add key="PostgreHost" value="localhost"/>
		<add key="PostgreDatabase" value="test_database"/>
		<add key="PostgreUsername" value="postgres"/>
		<add key="PostgrePassword" value="85245613"/>
		<add key="PostgrePort" value="544332"/>

	</appSettings>

</configuration>