<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="logMaxSizeInBytes" value="20000" />
		<add key="ServerHost" value="127.0.0.1" />
		<add key="ServerPort" value="8888" />
		<add key="SendingDelayIfNoConnection" value="500" />
		<add key="ReadingDelayIfNoConnection" value="500" />
		<add key="MonitoringDelay" value="2000" />
		<add key="ResponseIterationDelay" value="500" />
	</appSettings>
</configuration>